body {
    background-color: #d66da8;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50px; 
    
}


.footer {
    background-color: rgb(88, 87, 87);
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

 .logos-container img {
            max-width: 2300px; /* Ajusta el tamaño según necesites */
            height: auto;
}

.logos-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px; /* Espacio entre los logos */  

}

